body{background-color:#46747B;}

ul.topnav {
    list-style-type: none;
	margin:0;
    margin-left:-10px;
	margin-right:0;
    padding:5;
    overflow: hidden;
    background-color: #FDE04F;
	position: fixed;
	top:0px;
	width:100%
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
	
}



ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
#ph
{
 margin-left:-0.6%;
 margin-right:-0.6%;
 margin-top:3%;

}
#b1
{
  text-align:right;
  margin:1%;
  width:40%;
  padding:1%;
  padding-left:5%;
  background-color:#0093E9;
  border-radius: 15% 5% 5% 15%;
  float:left;
  border:5px groove #46747B;
  border-left:15px groove #FDE04F;
  
}
#b2
{
  text-align:left;
  margin:1%;
  width:40%;
  padding:1%;
  padding-right:5%;
  background-color:#0093E9;
  border-radius: 5% 15% 15% 5%;
  float:right;
  border:5px groove  #46747B;
  border-right:15px groove  #FDE04F;
}
#f
{
  text-align:center;
  margin-top:2%;
  margin-left:1%;
  margin-right:1%;
  width:86%;
  padding:1%;
  padding-left:5%;
  padding-right:5%;
  background-color:#0093E9;
  border-radius: 15% 15% 15% 15%;
  overflow: auto;
  border:2px groove  #46747B;
  border-left:15px groove  #FDE04F;
  border-right:15px groove  #FDE04F;
  
}

img
{
  height:75%;
  width:100%;
}
h1{color:#3CD8AC;}
h3{color:#FDE04F;font-family:Lucida Console;}
p{color:black;font-family:Gill Sans, sans-serif;}
